*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box ;
}

.hero{
    height: 100vh;
    width: 100%;

}

nav{
    position: fixed;
    background-color: teal;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    /* padding-bottom: 20px; */
    padding-left: 8%;
    padding-right: 8%;
    
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    color: white;
}
span{
    color: #191919;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: 5px solid teal;
}

nav ul li a:hover{
    color: black;
    transition: .3s;
    border-bottom: 3px solid #191919;
}
.contentparent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* border: 4px solid wheat; */
    height: 100%;
}
.contentlogo{
    width: 600px;
    height: 60%;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentlogo img{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.content{
    /* position: absolute; */
    top: 50%;
    margin-left: 40px;
}
#name{
    color: teal;
    margin: 20px 0px 20px 0px;
    font-size: 75px;
}
#hello{
    color: teal;
    font: 20px ;
    letter-spacing: 2px;
}
#des{
    color: teal;
    font-size: 25px;
    margin-bottom: 50px;
}
/* About Section */
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
    display: flex;
}
.about img{
    height: auto;
    width: 430px;
}
.aboutText{
    width: 550px;
    margin-left: 20px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid saddlebrown; */
    /* grid-template-columns: 2; */
}
#aboutMe{
    color: teal;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
#position{
    color: teal;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
#textContant{
    color: #ffff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.resumeButton{
    background-color: teal;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;
}
.resumeButton:hover{
    background-color: transparent;
    border: 2px solid teal;
    transition: .3s;
}

/* Skills Section */
.service{
    background-color: #ffff;
    width: 100%;
    padding: 100px 0px;
}
.title{
    color: black;
    font-size: 55px;
    /* width: 1130px; */
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    /* min-height: 300px; */
    justify-content: center;
}
.card{
    height: 160px;
    width: 160px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 20px;
    /* position: relative; */
    overflow: hidden;
    text-align: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid saddlebrown; */
    /* background-color: #191919; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card h5{
    margin: auto;
}
.card img{
    /* border: 1px solid saddlebrown; */
    width: 95px;
    height: 90%;
}

.softskillstitle{
    color: black;
    font-size: 55px;
    /* width: 1130px; */
    margin: 30px auto;
    text-align: center;
}
.softskillstext{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 70%;
    align-items: center;
    margin: 20px auto;
    
}
.softskillstext h3{
    padding: 20px;
    text-align: center;
    color: black;
    background-color: rgba(0, 128, 128, 0.802);
    border-radius: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
/* Project Section */
.projectBody{
    background-color: #191919;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid wheat;
    /* border: 1px solid wheat; */
}
.pro {
    color: teal;
    background-color: #191919;
    font-size: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.projectTitle{
    flex-direction: row;
    color: teal;
    font-size: 20px;
    /* width: 1130px; */
    margin-left: 50px;
    line-height: 30px;
}
.projectTitle p{
    font-size: 15px;
}
.projectList{
    font-size: 17px;
}
.projectlink{
    /* border: 1px solid wheat; */
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.websiteLink{
    text-decoration: none;
    color: #ffff;
}
.gitLogo img{
    width: 45px;
    height: 45px;
    margin-left: 20px;
    background-color: #ffff;
    border-radius: 60%;
}
.projectPhoto img{
    width: 60%;
    height: 80%;
    display: flex;
    margin-left: 50px;
}
.projectphoto img{
    width: 60%;
    height: 80%;
    display: flex;
    margin-left: 17%;
}

/* calendar */
.gitcalendar{
    color: black;
    font-size: 55px;
    /* width: 1130px; */
    margin: 30px auto;
    text-align: center;
}


:root {
    --color-calendar-graph-day-bg: #dddbdb;
    --color-calendar-graph-day-L1-bg: #39dd34;
    --color-calendar-graph-day-L2-bg: #45a045;
    --color-calendar-graph-day-L3-bg: #047526;
    --color-calendar-graph-day-L4-bg: #0a4208;
  }
  
  rect.ContributionCalendar-day[data-level='0'] {
      fill: var(--color-calendar-graph-day-bg);
  }
  
  rect.ContributionCalendar-day[data-level='1'] {
      fill: var(--color-calendar-graph-day-L1-bg);
  }
  
  rect.ContributionCalendar-day[data-level='2'] {
      fill: var(--color-calendar-graph-day-L2-bg);
  }
  
  rect.ContributionCalendar-day[data-level='3'] {
      fill: var(--color-calendar-graph-day-L3-bg);
  }
  
  rect.ContributionCalendar-day[data-level='4'] {
      fill: var(--color-calendar-graph-day-L4-bg);
  }
  
  .calendar .width-full > .float-left {
      display: none;
  }
  
  .calendar {
      font-family: Helvetica, arial;
      border: 3px solid #DDDDDD;
      border-radius: 3px;
      min-height: 243px;
      text-align: center;
      margin: 0 auto;
      margin-top: 10px;
      width: 97%;
  }
  
  .calendar-graph text.wday,
  .calendar-graph text.month {
      font-size: 10px;
      fill: #aaa;
  }
  
  .contrib-legend {
      text-align: right;
      padding: 0 14px 10px 0;
      display: inline-block;
      /* float: right; */
  }
  
  .contrib-legend .legend {
      display: inline-block;
      list-style: none;
      margin: 0 5px;
      position: relative;
      bottom: -1px;
      padding: 0;
  }
  
  .contrib-legend .legend li {
      display: inline-block;
      width: 10px;
      height: 10px;
  }
  
  .text-small {
      font-size: 12px;
      color: #767676;
  }
  
  .calendar-graph {
      padding: 5px 0 0;
      text-align: center;
  }
  
  .contrib-column {
      padding: 15px 0;
      text-align: center;
      border-left: 3px solid #ddd;
      border-top: 3px solid #ddd;
      font-size: 11px;
  }
  
  .contrib-column-first {
      border-left: 0;
  }
  
  .table-column {
      display: table-cell;
      width: 1%;
      padding-right: 10px;
      padding-left: 10px;
      vertical-align: top;
  }
  
  .contrib-number {
      font-weight: 300;
      line-height: 1.3em;
      font-size: 24px;
      display: block;
      color: #333;
  }
  
  .calendar img.spinner {
      width: 70px;
      margin-top: 50px;
      min-height: 70px;
  }
  
  .monospace {
      text-align: center;
      color: #000;
      font-family: monospace;
  }
  
  .monospace a {
      color: #1D75AB;
      text-decoration: none;
  }
  
  .contrib-footer {
      font-size: 11px;
      padding: 0 10px 12px;
      text-align: left;
      width: 100%;
      box-sizing: border-box;
      height: 26px;
  }
  
  .left.text-muted {
      float: left;
      margin-left: 9px;
      color: #767676;
  }
  .left.text-muted a {
      color: #4078c0;
      text-decoration: none;
  }
  .left.text-muted a:hover,
  .monospace a:hover {
      text-decoration: underline;
  }
  
  h2.f4.text-normal.mb-3 {
      display: none;
  }
  
  .float-left.text-gray {
      float: left;
  }
  #user-activity-overview{
      display:none;
  }
  
  .day-tooltip {
      white-space: nowrap;
      position: absolute;
      z-index: 99999;
      padding: 10px;
      font-size: 12px;
      color: #959da5;
      text-align: center;
      background: rgba(0,0,0,.85);
      border-radius: 3px;
      display: none;
      pointer-events: none;
  }
  .day-tooltip strong {
      color: #dfe2e5;
  }
  .day-tooltip.is-visible {
      display: block;
  }
  .day-tooltip:after {
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 5px;
      height: 5px;
      box-sizing: border-box;
      margin: 0 0 0 -5px;
      content: " ";
      border: 5px solid transparent;
      border-top-color: rgba(0,0,0,.85)
  }
  
  text.ContributionCalendar-label {
      fill: #ccc;
      font-size: 11px;
  }

/* Footer */
footer{
    /* position: relative; */
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom:#191919 ;
}
footer p{
    font-size: 30px;
    color: #191919;
    font-weight: bold;
    margin-bottom: 20px;
}
.socal{
    display: flex;
}
.social img{
    width: 50px;
    height: 45px;
    margin: 22px 10px;
}
.social img:hover{
    transform: scale(1.1);
    transition: .4s;
}

.details{
    background-color: #191919;
    display: flex;
    height: 50px;
    font-size: 15px;
    color: teal;
    justify-content: space-evenly;
    align-items: center;

}

@media (max-width: 1104px){
    
    .hero{
        padding: 18px 4%;
        transition: .2s;
    }

    section{
        padding: 80px 4%;
        transition: .2s;
    }
    .contentlogo{
        display: none;
    }
}

@media (max-width: 690px){
    .content{
        height: 85vh;
    }
    
    .main{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    .aboutText{
        text-align: center;
        width: 70%;
        padding: 10px;
    }
    .service{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .title h2{
        text-align: center;
    }
    .box{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1px;
    }
    nav ul {
        display: flex;
    }
    .contentlogo{
        display: none;
    }
    .softskillstext{
        grid-template-columns: repeat(2,1fr);
    }
    .softskillstext h3:last-child{
        display: none;
    }
    
}
@media (max-width: 500px){
    
    .box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    nav{
        width: 100%;
        top: 0;
        margin-left: -16px;
    }
    nav ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .projectBody{
        width: 108%;
    }
    .about{width: 108%;}
    .pro{width: 108%;}
    .details{ width: 108%;
    text-decoration: none;
    text-transform: none;
    gap: 10px;
    padding: 20px;
    font-size: 12px;
}
.contentlogo{
    display: none;
}
.contentparent{
    margin-top: 100px;
}
.softskillstext{
    grid-template-columns: repeat(2,1fr);
}
.softskillstext h3:last-child{
    display: none;
}
}


